<div class="py-2 text-center">
    <img src="{{ asset('images/website/cactus.svg') }}" alt="Dessin d'un cactus" width="70" height="70" class="d-block mx-auto mb-4">
    <h1 class="display-5 fw-bold text-success">Kipik !</h1>
</div>