@import "~bootstrap/scss/bootstrap";

html {
    min-height: 100%;
    position: relative;
}

body {
    min-height: 100vh;
}

.main {
    height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

img {
    object-fit: cover;
}

// header/nav
.dropdown-item:hover,
.dropdown-item:focus {
    color: var(--bs-dropdown-link-hover-color);
    background-color: rgba(32, 201, 151, 0.15);
}

.dropdown-menu[data-bs-popper] {
    left: auto;
    right: 0;
}

.cart {
    &:hover {
        background-color: rgba(32, 201, 151, 0.15);
        color: $success;
    }
}

/* Flash messages */
.flash-content {
    width: 100%;
    text-align: center;
    margin: 30px 0;
}

.success-content {
    color: darkcyan;
}

.error-content {
    color: crimson;
}

//Forms
.custom-form {
    padding: 15px;

    .form-control:focus, 
    .form-select:focus {
        border-color: $teal;
        box-shadow: 0 0 0 0.25rem rgba(32, 201, 151, 0.25);
    }
}
// Register/Auth form
.security-form {
    max-width: 330px;
}

// Product-form 
.product-form {
    max-width: 600px;

    & textarea.form-control {
        height: auto;
    }
}

// .product-search-form {
// }

// table
.custom-col-width {
    min-width: 300px;
}


// Home
.products-list {
    & .card {
        text-decoration: none;
        color: $success;

        &:hover {
            color: $success;
            border-color: $green;
        }
    }
}

// Product detail
.product-img img {
    width: 100%;
}

.product_meta {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    margin: 15px 0;
}

.quantity {
    width: 120px;
}

@media screen and (max-width: 575px) {
    .table-container {
        max-width: 350px;
    }
}